cards.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="relatedType">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute type="xs:string" name="count" use="optional"/>
            <xs:attribute type="xs:string" name="exclude" use="optional"/>
            <xs:attribute type="xs:string" name="attach" use="optional"/>
        </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="wmrh_carddatabase">
    <xs:complexType>
      <xs:all>
        <xs:element name="info" minOccurs="0" maxOccurs="1">
            <xs:complexType>
                <xs:all>
                    <xs:element type="xs:string" name="author" minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="createdAt" minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="sourceUrl" minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="sourceVersion" minOccurs="0" maxOccurs="1" />
                </xs:all>
            </xs:complexType>
        </xs:element>
        <xs:element name="sets" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="set" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                            <xs:all>
                                <xs:element type="xs:string" name="name" minOccurs="1" maxOccurs="1"/>
                                <xs:element type="xs:string" name="longname" minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string" name="release_date" minOccurs="0" maxOccurs="1" />
                            </xs:all>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="cards" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="card" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                    <xs:element type="xs:string" name="name" />
                                    <xs:element type="xs:string" name="printed_name" />
                                    <xs:element type="xs:anyURI" name="url" />
                                    <xs:element type="xs:integer" name="group" minOccurs="0" />
                                    <xs:element type="xs:integer" name="capacity" minOccurs="0" />
                                    <xs:element type="xs:date" name="banned" minOccurs="0" />
                                    <xs:element type="xs:string" name="pool_cost" minOccurs="0" />
                                    <xs:element type="xs:string" name="blood_cost" minOccurs="0" />
                                    <xs:element type="xs:string" name="text" />
                                    <xs:element type="xs:boolean" name="is_crypt" default="false" />

                                    <xs:element name="sets" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="set" maxOccurs="unbounded" minOccurs="1">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                                <xs:attribute type="xs:string" name="name" use="optional" />
                                                                <xs:attribute type="xs:anyURI" name="picURL" use="optional" />
                                                            </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="types" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="type" maxOccurs="unbounded" minOccurs="1" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="clans" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="clan" maxOccurs="unbounded" minOccurs="1" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="disciplines" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="discipline" maxOccurs="unbounded" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="rulings" maxOccurs="unbounded">
                                        <!-- Todo; make ruling part of the Version1 1 -->
                                    </xs:element>
                                    <xs:element type="xs:boolean" name="token" minOccurs="0" maxOccurs="1" />
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                        <xs:element type="relatedType" name="related" />
                                        <xs:element type="relatedType" name="reverse-related" />
                                    </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute type="xs:integer" name="version" fixed="1"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
